.container {
  position: absolute;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(50vh - var(--menu-offset));
  font-size: 5em;
  padding: 0 15%;
  overflow: hidden;
  z-index: 3;
}
.wrapper:nth-child(2) {
  align-items: end;
}
.wrapper:last-child {
  align-items: start;
}
.wrapper > * {
  width: 100%;
  text-align: center;
}

.teal-bg {
  position: absolute;
  background: #2dcac9;
  z-index: 0;
  pointer-events: none;
}

.miku-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 2;
}

.miku-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 50vh;
  max-width: 50vw;
  object-fit: contain;
}

.icon-01 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translateX(-50%);
  max-height: 18vh;
  max-width: 18vw;
  object-fit: contain;
}

.miku-line {
  position: absolute;
  top: 50%;
  left: 15vw;
  width: 70vw;
  transform: translateY(-50%);
  border-radius: 10px;
}